{
    "ContactNetwork": "NetworkX",
    "ContactNetworkGenerator": "BarabasiAlbert",
    "Driver": "Default",
    "EndCriteria": "GEMF",
    "Logging": "File",
    "NodeAvailability": "Perfect",
    "NodeEvolution": "VirusTreeSimulator",
    "NumBranchSample": "Fixed",
    "NumTimeSample": "Once",
    "SeedSelection": "Random",
    "SeedSequence": "User",
    "SequenceEvolution": "GTRGammaSeqGen",
    "Sequencing": "Perfect",
    "SourceSample": "Random",
    "TimeSample": "TruncatedNormal",
    "TransmissionNodeSample": "GEMF",
    "TransmissionTimeSample": "SEIRGEMF",
    "TreeNode": "Simple",
    "TreeUnit": "ConstantRate",
    "end_time": 50,
    "gemf_path": "GEMF",
    "hmmemit_path": "hmmemit",
    "java_path": "java",
    "num_cn_nodes": 1000,
    "num_edges_from_new": 100,
    "num_seeds": 1,
    "num_viruses_per_cn_sample": 10,
    "out_dir": "/home/samsledje/testing_pipeline/results/SEIR015_sl250_mr025_nv10_1/FAVITES_output",
    "seed_seqs": [
        "CACCTACAGCTGCCCTAGTGGTGTCGCAGTTACTCCGGATCCCACAAGCTGTCGTGGACATGGTAGCGGGGGCCCACTGGGGAGTCCTGGCGGGCCTTGCATACTATTCCATGGTGGGGAACTGGGCTAAGGTTTTGATTGTGATGCTGCTCTTTGCCGGCGTCGACGGGGAGACCCACACGACGGGGGGGTCGGCGGCCAAGAGTACTTTCAGGCTTACGAACATCTTTTCGCTAGGGCCGGCTCAGAAAATCCAGCTTATAA"
    ],
    "seir_beta_by_i": 0.015,
    "seir_beta_seed": 0,
    "seir_delta": 0.45,
    "seir_lambda": 0.01,
    "seqgen_a_to_c": 6.461945,
    "seqgen_a_to_g": 16.399738,
    "seqgen_a_to_t": 3.197035,
    "seqgen_c_to_g": 0.750543,
    "seqgen_c_to_t": 14.629816,
    "seqgen_freq_a": 0.178159,
    "seqgen_freq_c": 0.263322,
    "seqgen_freq_g": 0.233821,
    "seqgen_freq_t": 0.324698,
    "seqgen_g_to_t": 1.0,
    "seqgen_gamma_shape": 0.1,
    "seqgen_num_gamma_rate_categories": "",
    "seqgen_path": "seq-gen",
    "tree_mutation_rate": 0.25,
    "ts_truncnorm_loc": 0.9,
    "ts_truncnorm_scale": 5,
    "vts_growthRate": 0.8,
    "vts_max_attempts": 1000,
    "vts_model": "logistic",
    "vts_n0": 1,
    "vts_t50": -5.5
}